body{
	background-color: navy;
}

header{
	top: 0px;
	display: block;
	height: 75px;
	background-color: aqua;
	border-style: solid;
	width: 100%;
}

.buffer{
	display: inline-block;
	vertical-align: middle;
	height: 75px;
	/*this is just a hack should fix later if i want to*/
    margin: 0px auto;
}

.sideBar{
	display:inline-block;
	width: 20%;
	background-color: red;
	border-style: solid;
	float: right;
	height: 541px;
}

.mapCnt{
	 display:inline-block;;
	 width: 79%;
	 background-color: blue;
	 border-style: solid;
	 height: 541px;
}

.mapSideCnt{
	text-align: center;
}

.bottomBar{
	width: 100%;
	background-color: silver;
	border-style: solid;
}

.team{
	display: inline-block;
	border-style: solid;
	border-color:  #1c49c2;
}

.leaveButtonCnt{
	text-align: center;
	display: inline-block;
	float: right;
	height: 100%;
}
