body{
	background-color: navy;
}

header{
	top: 0px;
	display: block;
	height: 75px;
	background-color: aqua;
	border-style: solid;
	width: 80%;
}

.buffer{
	display: table-cell;
	vertical-align: middle;
	height: 75px;
	/*this is just a hack should fix later if i want to*/
    margin: 0px auto;
}
